image: "cicontrol/scf-builder:latest"
type: "docker"
name: "Build SCF helm charts"
source: "https://github.com/os-fun/bkindwscf.git"
storage: "dockerghcreds"
tag_namespace: charts
publish_mode: "append"

script:
- bash storage/docker_login.sh
- pushd storage
- git clone --recurse-submodules https://github.com/SUSE/scf 
- pushd scf
- git checkout $BRANCH
- git submodule update --recursive --force && git submodule foreach --recursive 'git checkout . && git clean -fdx'
- source .envrc
- sed -i 's|exit 1||' make/kube-dist
- sed -i 's|exit 1||' make/bundle-dist
- ./bin/dev/install_tools.sh
- source .envrc
- env
- make vagrant-prep publish
- make bundle-dist
- cp -rfv output/*.zip ../../artefacts
environment:
- BRANCH={{.Branch}}
- BOSH_CLI_VERSION={{.BoshCLIVersion}}
- FISSILE_DOCKER_REGISTRY=
- FISSILE_DOCKER_ORGANIZATION=cicontrol
- FISSILE_DOCKER_REPO=stemcell
- FISSILE_STEMCELL_VERSION=develop